<!-- Header Section -->
<div class="header">
  <div class="header-title">
    <h1>Trivia Binge!</h1>
    <h2>The Endless Stream of Trivia</h2>
  </div>
</div>

<!-- Trivia Section -->
<div class="trivia-section">
  <div class="trivia-category">
    <h3>Category: </h3>
    <p>{{category}}</p>
  </div>
  <h3>Prompt:</h3>
  <div class="trivia-card">
    <div class="trivia-question">
      <p>{{question}}</p>
    </div>
    <div id="answer" class="trivia-answer">
      <p>{{answer}}</p>
    </div>
  </div>
</div>

<!-- Button Section -->
<div class="button-section">
  <div id="show" class="get-answer-button">
    <button onclick="showAnswer()"><p>Show Answer</p></button>
  </div>
  <div id="question" class="new-question-button">
    <button onclick="window.location.reload()"><p>New Question</p></button>
  </div>
</div>


<!-- "Did You Know?" Section -->
<div id="fyi" class="fyi-section">
  <h3>Did You Know?</h3>
  <div class="fyi-card">
    <p>
      {{fyiDecript}}
      <!-- Maine is a state in the New England region of the northeastern United States.
      Maine is the 12th smallest by area, the 9th least populous, and the 38th most densely populated of the 50 U.S. states.
      It is bordered by New Hampshire to the west, the Atlantic Ocean to the southeast, and the Canadian provinces of New Brunswick and Quebec to the northeast and northwest respectively.
      Maine is the easternmost state in the contiguous United States, and the northernmost east of the Great Lakes. It is known for its jagged, rocky coastline; low, rolling mountains; heavily forested interior; and picturesque waterways, as well as its seafood cuisine, especially lobster and clams.
      There is a humid continental climate throughout the state, even in coastal areas such as its most populous city of Portland.
      The capital is Augusta. -->
    </p>
    <p>
      Would you like to know more? - <a target="_blank" href={{fyiLink}}>{{fyiLink}}</a>
    </p>
  </div>
</div>
