<div class="homepage">
  <!-- Header Section -->
  <div class="header">
    <div class="header-title">
      <h1>Trivia Trainer</h1>
      <h2>Give Your Brain A Workout</h2>
    </div>
  </div>

  <!-- Trivia Section -->
  <div class="trivia">
    <!-- <h3>Prompt:</h3> -->
    <div class="trivia-section">
      <div class="question-card">
        <div class="trivia-category">
          <p><span class="category-span">Category:</span> {{category}}</p>
        </div>
        <div class="trivia-question">
          <p>Q: <span id="question">{{question}}</span></p>
          <div class="speech-div">
            <img src="assets/tracy-speak.png" height="100px" width="100px"/>
            <button id="speak" onclick="pronounce()"><img src="https://img.icons8.com/metro/1600/speaker.png" style="width:20px;height:20px;" /></button>
          </div>
        </div>
      </div>

      <div id="answer" class="trivia-answer">
        <div id="inner" class="trivia-answer-inner">
          <div onclick="showAnswer()" class="trivia-answer-front">
            <p>Click For Answer</p>
          </div>
          <div class="trivia-answer-back">
            <p>A: {{answer}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Button Section -->

    <div id="question" class="new-question-button">
      <button onclick="window.location.reload()">New Question</button>
    </div>
  <!-- </div> -->

  <!-- <div class="button-section">
    <div id="show" class="get-answer-button">
      <button onclick="showAnswer()"><p>Show Answer</p></button>
    </div>
  </div> -->

  <!-- FYI Section -->
  <!-- Default Configuration -->
  <div class="standard" id="standard-id">
    <div class="fyi-section">
      <div class="hero-card">
        <div class="hero-img">
          <img src="assets/tracy-default.png" height="300px" width="300px"/>
        </div>
        <div class="hero-text">
          <h3>Tracy The</h3>
          <h3>Trivia Trainer</h3>
        </div>
      </div>
      <div class="info-card">
        <!-- <div class="arrow bottom">
          <div class="info-text">
              <p>Did You Know?</p>
              <p>{{fyiDecript}}</p>
              <p>
                Would you like to know more? - <a target="_blank" href={{fyiLink}}>{{fyiLink}}</a>
              </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <!-- Speaking Configuration -->
  <div class="speaking" id="speak-id">
    <div class="fyi-section">
      <div class="hero-card">
        <div class="hero-img">
          <img src="assets/tracy-speak.png" height="300px" width="300px"/>
        </div>
        <div class="hero-text">
          <h3>Tracy the</h3>
          <h3>Trivia Trainer</h3>
        </div>
      </div>
      <div class="info-card">

        <div class="info-text">
          <div class="arrow right bottom"></div>
            <p>Did You Know?</p>
            <p>{{fyiDecript}}</p>
            <p>
              Would you like to know more? - <a target="_blank" href={{fyiLink}}>{{fyiLink}}</a>
            </p>
        </div>
      </div>
    </div>
  </div>



  <!-- "Did You Know?" Section -->
  <!-- <div id="fyi" class="fyi-section">
    <h3>Did You Know?</h3>
    <div class="fyi-card">
      <p>{{fyiDecript}}</p>
      <p>
        Would you like to know more? - <a target="_blank" href={{fyiLink}}>{{fyiLink}}</a>
      </p>
    </div>
  </div> -->

</div>
