<!-- Header Section -->
<div class="header">
  <div class="header-title">
    <h1>Trivia Trainer</h1>
    <h2>Give Your Brain A Workout</h2>
  </div>
</div>

<!-- Trivia Section -->
<div class="trivia-section">
  <div class="trivia-category">
    <h3>Category: </h3>
    <p>{{category}}</p>
  </div>
  <h3>Prompt:</h3>
  <div class="trivia-card">
    <div class="trivia-question">
      <p>{{question}}</p>
    </div>
    <div id="answer" class="trivia-answer">
      <p>{{answer}}</p>
    </div>
  </div>
</div>

<!-- Button Section -->
<div class="button-section">
  <div id="show" class="get-answer-button">
    <button onclick="showAnswer()"><p>Show Answer</p></button>
  </div>
  <div id="question" class="new-question-button">
    <button onclick="window.location.reload()"><p>New Question</p></button>
  </div>
</div>


<!-- "Did You Know?" Section -->
<div id="fyi" class="fyi-section">
  <h3>Did You Know?</h3>
  <div class="fyi-card">
    <p>{{fyiDecript}}</p>
    <p>
      Would you like to know more? - <a target="_blank" href={{fyiLink}}>{{fyiLink}}</a>
    </p>
  </div>
</div>
